table td:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.invalid {
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url('../images/invalid.svg') !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}
