.productImg {
  width: 200px;
}

.drink {
  width: auto;
  height: 150px;
}

.personalized-btn {
  position: relative;
  left: 42px;
}

.coke {
  position: relative;
  left: 14px;
}

.coffee {
  position: relative;
  left: 60px;
}

.ingredient {
  width: 75px;
}

.table img {
  width: 23px;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

.table tfoot td {
  font-weight: bold;
}
